.sl-services-header{
    width: 30%;
    color: black;
    background-color: white;    
    padding: 5px 5px 5px 5px;
    border-radius: 10px 10px 10px 0;
}

.sl-services-header h2 {
    font-size: 20px;
    text-align: center;
}

.sl-services-content{
    border: 1px solid;
    margin-top: -40px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}
.sl-image-concep{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.sl-services-content p{
    width: 40%;
    margin-left: 3%;
    line-height: 2;   
    word-spacing: 5px;
    
    
}
.sl-image-concep img{
    width: 30%;
    height: auto;
    object-fit: cover;    
}
@media screen and (max-width: 800px){
    .sl-services-header{
        width: 80%;
    }
    .sl-image-concep{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sl-services-content p{
        width: 90%;       
    }
    .sl-image-concep img{
        width: 50%;
        height: 220px;
        margin-bottom:30px;  
    }

}
@media screen and (max-width: 420px){
    .sl-services-header{
        width: 90%;
    }
    .sl-image-concep{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sl-services-content p{
        width: 90%;       
    }
    .sl-image-concep img{
        width: 60%;
        height: auto;
        margin-bottom:30px;  
    }
    .sl-services-header h2 {
        font-size: 15px;
        text-align: center;
    }

}