.sl-single-realisation{
    margin-bottom: 50px;
}
.sl-petit-barre{
    width: 20%;
    height: 20px;
    border-radius: 50px;
    border: 2px solid;
    background: linear-gradient(180deg, #FFFFFF 14.58%, rgba(177, 189, 216, 0.79) 33.33%, #193D8C 46.35%, #647DB2 57.29%, rgba(255, 255, 255, 0.81) 80.73%);
}

.sl-lien-git{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 30%;
}

.sl-lien-git img{
    margin-right: 10px;
    width: 20%;
    height: 20%;
}

@media screen and (max-width: 800px){
    .sl-lien-git{
        width: 80%;
    }

}
@media screen and (max-width: 420px){
    .sl-lien-git{
        width: 80%;
        font-size: 12px;
    }
    .sl-realisations-header h2{
        font-size: 18px;
    }

}