@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.back-color-bleu{
    background-color: #193D8C;
}
.color-bleu{
    color: #193D8C;
}
.back-color-white{
    background-color: white;
}
.back-color-white{
    color: white;
}
