.ls-conatct{
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    color: white;
}
.ls-conatct img {
    border-radius: 30px;   
}
.sl-content-contact{
    margin-left: 5%;
}
.sl-content-contact a{
    display: flex;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
}
.sl-content-contact a:hover {
    background:linear-gradient(5.3deg, #4C5C7C 15.08%, rgba(76, 92, 124, 0) 67.78%);
}
.sl-content-contact a img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}
.sl-disponibe {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
    padding: 0;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #000000;
}
.sl-disponibe p {
    position: relative;
    font-family: Impact, sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #193D8C, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 7s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
@media screen and (max-width: 800px){
    .ls-conatct{
        flex-direction: column;
        align-items: flex-start;
        color: white;
        margin-top: 80px;
    }
    .sl-content-contact a{
        font-size: 20px;
        border-radius: 10px;
    }
    .ls-conatct img {
        height: 300px;
        border-radius: 10px;
           
    }
    .sl-disponibe p {
        position: relative;
        font-family: Impact, sans-serif;
        font-size: 15px;
        letter-spacing: 2px;
        background: linear-gradient(90deg, #193D8C, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 7s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      } 
      .sl-disponibe {
        margin-left: 8%;
        margin-right: 8%;
        border-radius: 20px;
        padding: 0;
        margin-top: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vh;
        background-color: #000000;
    }
}