.sl-accueil
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
}

.ls-navbar-accueil{
    display: flex;
    justify-content: space-around;    
    margin-bottom: 80px;
}

.ls-navbar-accueil-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    color: black; 
}
.ls-navbar-accueil-link:focus {
    background-color: #193D8C; 
    padding: 5px 5px 70px 5px;
    border-radius: 5px 5px  0px 0px;
    color: white;
}

.ls-nav1.false{
    display: none;
}

.ls-nav2.false{
    display: none;
}
.ls-nav3.false {
    display: none;
}
@media screen and (max-width: 800px){
    .ls-navbar-accueil-link {
        text-decoration: none;
        font-weight: 500;
        font-size: 17px;
        color: black; 
    }

}
@media screen and (max-width: 450px){
    .ls-navbar-accueil-link {
        font-size: 10px;
    }

}