.sl_header{
    background-image: url("../../assets/banner-back.png");
    height: 500px;  /*height: 581px;*/
    object-fit: cover;
}

.ls-navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 45px;
}
.sl_header_img{
    width: 240px;
    height: 50px;
}
.sl_header_nav{
    width: 60%;
    display: flex;
    justify-content:space-around;
}
.sl_header_link{
    text-decoration: none;
    font-weight: 800;
    font-size: 25px; 
}
.sl_header_link:focus{
    border-bottom: 4px solid white;
}

.ls-photo-head{
    width: 300px;
    height: 270px;
}
.ls-maPhoto-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;    
}
.ls-line{

    height: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
    margin-top: -130px;
}
.ls-cadre-blanc{
    height:120px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 160px;
}
#sl-nav-fix{
    position: fixed;
    bottom: 300px;
    left: 90%;
    border-right: 2px solid white;
    z-index: 1;
    padding-right: 4px;
    background: rgba(0, 0, 0, 0.9);
    animation: clignonte 8s infinite;
   display: flex;
   flex-direction: column;
   align-items: flex-end;

}
#sl-nav-fix .sl_header_link{
    font-size: 15px;
    margin-bottom: 10px;
}

@keyframes clignonte{
    0% {
        background: rgba(0, 0, 0, 0.2);
    }
    10% {
        background: rgba(0, 0, 0, 0.4);
    }
    95% {
        background: rgba(0, 0, 0, 1);
    }
    100% {
        background: rgb(141, 148, 5);
    }
}

@media screen and (max-width: 800px) {
    #sl-nav-fix{
        display: none;
    }
    .ls-navbar{
        display: flex;
        flex-direction: column;
    }
    .sl_header_img{
        width: 200px;
        height: 40px;
    }
    .ls-navbar{
        display: flex;
        justify-content:space-between;
        align-items:flex-start;
    }
    .sl_header_nav{
        width: 95%;
    } 
    .sl_header_link{
        font-weight: 800;
        font-size: 18px; 
    }
    .ls-photo-head{
        width: 220px;
        height: 200px;
    }
    .ls-line{
        margin-top: -100px;
    }
    .ls-cadre-blanc{
        height:100px;
        background-color: white;
        margin-top: 170px;
    }
}
@media screen and (max-width: 420px) {
    #sl-nav-fix{
        display: none;
    }
    .sl_header{
        height: 400px;  /*height: 581px;*/
        object-fit: cover;
    }
    .ls-navbar{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-top: 20px;
    }
    .sl_header_img{
        width: 140px;
        height: 30px;
    }
    .ls-navbar{
        display: flex;
        justify-content:space-between;
        align-items:flex-start;
    }
    .sl_header_nav{
        margin-top: 20px;
        display: flex;
        justify-content:space-between;
        align-items:flex-start;
        width: 95%;
    } 
    .sl_header_link{
        font-weight: 800;
        font-size: 12px; 
    }
    .ls-photo-head{
        width: 160px;
        height: 140px;
    }
    .ls-line{
        margin-top: -70px;
    }
    .ls-cadre-blanc{
        height:70px;
        background-color: white;
        margin-top: 160px;
        margin-left: 5%;
        margin-right: 5%;
    }
}